<?xml version="1.0" encoding="utf-8" ?>

<!--

Purpose: This include file is used to disable standard sitecore login form.   

-->

<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="shell" set:loginPage="$(loginPath)shell/SitecoreIdentityServer/IdS4-AzureAd" />      
    </sites>
  </sitecore>
</configuration>